foodborne_investigation/Instructor Notes/

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon?

# Windows
Thumbs.db
desktop.ini

# Office temp/lock files
~$*.docx
~$*.pptx
~$*.xlsx
